<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/chargeProduct.css">    
        <link rel="stylesheet" href="/css/style-partials.css">   
    </head>
    <body>
        <header>
            <% if (locals.isLogged) { %>
    
                <%- include("partials/headerProfile") %>
             
            <% } else { %>
    
                <%- include("partials/header") %>
    
            <% } %>
        </header>
    <main>

        <h1>Cargá un nuevo producto</h1>

        <article class="copy">
            <a href="/">Inicio/</a>
            <a href="/products">Productos/</a>
            <a>Cargá un nuevo producto</a>
        </article>
        
        <form action="/products/charge-product" class="reservation" method="POST" enctype="multipart/form-data">
       
            <article class="product">
            <section class="image">

                <label for="images" class="perfil"> Agregar Imagen</label>
                <input type="file" id="images" name="images">
                <br>
                <span class="imageError">Por favor seleccione una imagen</span>
                <br>

                <% if (locals.errors && errors.images) { %>                 
                
                    <div class="text-danger">
                        <%= errors.images.msg %>
                    </div>
                </div>
                    <% } %>

      
      
            </section>


            <section class="product-detail">
                <div class="user-data">
                    <label for="name-lastName">
                    <input type="text" id="name" name="name" class="name" placeholder="Nombre de Indumentaria" value="<%= locals.oldData ? oldData.name : null %>" required>
                    <span class="nameError">Por favor ingrese al menos 5 caracteres</span>
                    <span class="feedback"></span>
                    </label>

                    <% if (locals.errors && errors.name) { %>                 
                
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    </div>
                        <% } %>
                        <div class="user-data">
                            <label for="name-lastName">
                            <input type="text" id="price" name="price" class="price" placeholder="Precio" value="<%= locals.oldData ? oldData.price : null %>" >
                            <span class="feedback"></span>
                            
                            </label>
                        </div>
                        <% if (locals.errors && errors.price) { %>                 
                        
                            <div class="text-danger">
                                <%= errors.price.msg %>
                            </div>
            
                            <% } %>

                </div>


                <div class="user-data">
                    <i class="far fa-credit-card"></i>
                    <label for="name-lastName" >
                        <select id="quota" name="quota" class="quota">
                            <option value="1">Cuotas sín Interes</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                        </select>
                        
                    <!-- <input type="text" name="name-lastName" placeholder="Cuotas sin intereses" required> -->
                    <span class="feedback"></span>
                    </label>
                </div>      
                

                <div class="admin">
                    <div class="size">
                        <label for="size">Seleccioná los talles</label>
                        <select name="size" id="Small" class="small">
                            <option value="0">S</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="size" id="Medium" class="medium">
                            <option value="0">M</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="size" id="Large" class="large">
                            <option value="0">L</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="size" id="Extra Large" class="xl">
                            <option value="0">XL</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <div class="save">
                        <a href="/products/product-admin/:id"><button>Guardar</button></a>
                    </div>
                </div>
            </section>

        </article>
       </form>
    </main>


            <%- include("partials/footer") %>



</body>
</html>