<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-index.css">
    </head>
<body>
    <header>
        <% if (locals.isAdmin) { %>

            <%- include("partials/headerProfileAdmin") %>
         
        <% } else if (locals.isLogged) { %>

            <%- include("partials/headerProfile") %>

        <% } else { %>

            <%- include("partials/header") %>

        <% } %>
    </header>
    <main>

        <h1>El Ritual</h1>
        <h2>Buscá tu entrada</h2>

        <form action="*" class="search" method="GET">
            <button class="loupe"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Buscar evento, ciudad, etc" class="search-bar">
            <input type="date" name="calendar" min="2022-01-01" class="calendar">
            
            <!-- <i class="fas fa-calendar-alt"></i> -->
        </form>


        
        <!-- <h2>Conocé nuestro merchandising</h2>

        <div class="carrusel">

            <button class="arrow-left"><i class="fas fa-chevron-left"></i></button>

            <div class="carrusel-mobile">
                <a href="/"><img src="images/remera-soda-stereo.jpg" alt="Remera Mobile"></a>
            </div>

            <div class="carrusel-tablet">
                <a href="/"><img src="images/remeras-tablet.jpg" alt="Remera Tablet"></a>
            </div>

            <div class="carrusel-desktop">
                <a href="/"><img src="images/remeras-desktop.jpg" alt="Remera Desktop"></a>
            </div>

            <button class="arrow-right"><i class="fas fa-chevron-right"></i></button>

         </div> -->
         <h3 style="margin-bottom: 2rem; margin-top: 2rem">Conocé nuestro merchandising</h3>

         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img src="images/remera-soda-stereo.jpg" class=" w-40 object-fit-contain border rounded" alt="...">
               <div class="carousel-caption d-none d-md-block " >
 
               </div>
             </div>
             <div class="carousel-item">
               <img src="images/remera-ACDC.jpg" class="object-fit-contain border rounded w-35" alt="...">
               <div class="carousel-caption d-none d-md-block text-secondary">
               </div>
             </div>
             <div class="carousel-item">
               <img src="images/remera-nirvana.jpg" class="object-fit-contain border rounded w-30" alt="...">
               <div class="carousel-caption d-none d-md-block">
 
               </div>
             </div>
           </div>
         </div>
         </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
             <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
             <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
             <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
             <span class="visually-hidden">Next</span>
           </button>
         </div>
    </main>

    
    <footer>
        <%- include("partials/footer") %>
    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>