<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/style-productDetail.css">    
    </head>
    <body>
        <header>
    
            <%- include("partials/header") %>
    
        </header>
    <main>

        <article class="copy">
            <a href="/">Inicio/</a>
            <a href="/tienda">Productos/</a>
            <p  class="products"> Remera AC/DC</p>
        </article>

        <article class="product">
            
            <img src="/images/<%= product.images %>" alt="">
            <form action="/product-admin/<%= product.id %>?method=PUT" class="product-detail" method="POST" enctype="multipart/form-data">
                <input type="file">
                <input type="text" id="name" name="name" placeholder="<%= product.name %>" value="<%= product.name %>">
                <input type="text" id="price" name="price" placeholder="<%= product.price %>" value="<%= product.price %>">
                <input type="text" id="quota" name="quota" placeholder="<%= product.quota %> Cuotas sin interes" value="6">


                <div class="admin">
                    <div class="size">
                        <label for="size">Agregá stock por talle</label>
                        <select name="size" id="Small" class="small">
                            <option value="0">S</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="size" id="Medium" class="medium">
                            <option value="0">M</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="size" id="Large" class="large">
                            <option value="0">L</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="size" id="Extra Large" class="xl">
                            <option value="0">XL</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <div class="edit">
                        <button type="submit">Guardar</button>
                    </div>
                </div>
            </form>

        </article>

    </main>

    <footer>
            <%- include("partials/footer") %>
    </footer>


</body>
</html>