<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/style-productDetail.css">    
    </head>
    <body>
        <header>
            <% if (locals.isLogged) { %>
    
                <%- include("partials/headerProfile") %>
             
            <% } else { %>
    
                <%- include("partials/header") %>
    
            <% } %>
        </header>
    <main>

        <article class="copy">
            <a href="/">Inicio/</a>
            <a href="/products">Productos/</a>
            <p  class="products"> Remera AC/DC</p>
        </article>

        <article class="product">
            <img src="/images/<%= product.images %>" alt="">

            <div class="product-detail">
                <h2><%= product.name %></h2>
                <h1>$ <%= product.price %></h1>
                <p> <i class="far fa-credit-card"></i>    <%= product.quota %> cuotas sin interes de $ <%= (product.price)/(product.quota) %> </p>        
                <h2> Talle XL </h2>

                <div class="admin">
                    <div class="size">
                        <label for="size">Elegí tu talle</label>
                        <select name="size" id="" class="size-option">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="l">XL</option>
                        </select>
                    </div>
                    <div class="edit">
                        <a href="/products/product-admin/<%= product.id %> "><button>Editar</button></a>
                    </div>
                    <div class="edit">
                        <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                            <button type="submit">Borrar</button>
                        </form>
                    </div>
                </div>
            </div>

        </article>

    </main>

    <footer>
            <%- include("partials/footer") %>
    </footer>


</body>
</html>