<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/style-productDetail.css">    
    </head>
    <body>
        <header>
            <% if (locals.isAdmin) { %>
    
                <%- include("partials/headerProfileAdmin") %>
             
            <% } else if (locals.isLogged) { %>
    
                <%- include("partials/headerProfile") %>
    
            <% } else { %>
    
                <%- include("partials/header") %>
    
            <% } %>
        </header>
    <main>



        <article class="product">
            <img src="/images/userImages/<%= user.image %>" alt="">

            <div class="product-detail">
                <div class="edit"></div>
                <h2><%= user.userName %></h2>
                <% if (user.userCategory_id == 1) { %>
                    <p class="precio"> Usuario Administrador</p>
                    <% } else { %>
    
                        <p class="precio"> Usuario Comprador</p>
                        <form action="/user/user-list/<%= user.user_id %>?_method=PUT" class="user-data" method="POST">
               
                            
                                <button type="submit">Hacer Administrador</button>
                            
                        
                        </form>
            
                    <% } %>

                    
                        <form action="/user/users-list/<%= user.user_id %>?_method=DELETE" method="post">
                            <button type="submit">Borrar Usuario</button>
                        </form>
                    </div>
                    

                </div>
            </div>

        </article>

    </main>

    <footer>
            <%- include("partials/footer") %>
    </footer>

</body>
</html>