<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/style-productDetail.css">    
    </head>
    <body>
        <header>
            <% if (locals.isAdmin) { %>
    
                <%- include("partials/headerProfileAdmin") %>
             
            <% } else if (locals.isLogged) { %>
    
                <%- include("partials/headerProfile") %>
    
            <% } else { %>
    
                <%- include("partials/header") %>
    
            <% } %>
        </header>
    <main>
        
        <h3>Bienvenido <%= user.firstName %> <%= user.lastName %></h3>
        <img src="/images/userImages/<%= user.image %>" width = 600px>

        <div class="edit">
            <a href="/user/profile/edit "><button>Editar</button></a>
        </div>

    </main>


    <footer>
            <%- include("partials/footer") %>
    </footer>


</body>
</html>