<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/style-productDetail.css">    
    </head>
    <body>
        <header>
            <% if (locals.isAdmin) { %>
    
                <%- include("partials/headerProfileAdmin") %>
             
            <% } else if (locals.isLogged) { %>
    
                <%- include("partials/headerProfile") %>
    
            <% } else { %>
    
                <%- include("partials/header") %>
    
            <% } %>
        </header>
    <main>
        
        <div class="logged-user">
        
        <img src="/images/userImages/<%= user.image %>">
        <div class="user">
        <p style="font-size: 18px; color: green;">Bienvenido:<h3> <%= user.firstName %> <%= user.lastName %></h3> </p>
        <p style="font-size: 18px; color: green;">Nombre de usuario: <h3><%= user.userName %></h3></p>
        <p style="font-size: 18px; color: green;">Email: <h3><%= user.email %></h3></p>
    </div>  


        
        </div>
        <div class="edit">
            <a href="/user/profile/edit "><button>Editar</button></a>
    </div>
    </main>


    <footer>
            <%- include("partials/footer") %>
    </footer>


</body>
</html>